@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  /* background-color: #EEEFFB; */
  color: #151875;
  box-sizing: border-box;
}